{% extends 'base.html.twig' %}

{% block title %}Cherbourg Natation Plongée
{% endblock %}


{% block body %}

	<h1>
		Bienvenue
	</h1>
	<a href="/member/" class="btn btn-primary">Voir les membres</a>
	<div class="test">Ceci est un
		<span class="gras">test</span>.
	</div>

	<div class="gras">Un AUTRE test</div>

{% endblock %}
