<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Cherbourg Natation Plongée
			{% endblock %}
		</title>
		{{ encore_entry_link_tags('app') }}
		<link rel="icon" href="{{ asset('images/cnp-logo.jpg') }}"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script type="module">
				import "./app.js";
			</script>
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block navbar %}
			{% include './_navbar.html.twig' %}
		{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>
